export(colorDiscretePalette)
export(colorGradientPalette)
export(compute)
export(computeBarchart)
export(computeCorrelations)
export(computeHeatmap)
export(computeHistogram)
export(createBubblechart)
export(createHeatmap)
export(createHistogram)
export(createMap)
export(createPopPyramid)
export(createSlopegraph)
export(createWordcloud)
export(getCharacterColumns)
export(getDateTimeColumns)
export(getMatchingColumns)
export(getNumericColumns)
export(getTableSummary)
export(isLookupForColumn)
export(joinTables)
export(showData)
export(theme_empty)
export(viewTableSummary)
import(RColorBrewer)
import(RODBC)
import(ggmap)
import(ggplot2)
import(grid)
import(plyr)
import(reshape2)
import(scales)
import(wordcloud)
